<h1>Welcome to the Monster Shop!</h1>

<h3>We hope you find what you're looking for!</h3>

<div id="welcome-image">
  <%= image_tag("https://i1.wp.com/www.realjoyriders.com/wp-content/uploads/2017/05/CuteMonsterMain.jpg?fit=1000%2C1000", :style => 'width: 1000px;')%>
</div>
